/* =====================
   VARIABLES THEME
===================== */
:root {
  --bg-color: #f5f5f5;
  --card-bg: #ffffff;
  --text-color: #222;
  --accent: #4f46e5;
}

body.dark {
  --bg-color: #0f172a;
  --card-bg: #1e293b;
  --text-color: #e5e7eb;
  --accent: #38bdf8;
}

/* =====================
   GLOBAL
===================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  transition: background-color 0.4s ease, color 0.4s ease;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  background: var(--accent);
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* =====================
   GALERIE
===================== */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
  max-width: 1100px;
  margin: auto;
}

.card {
  background: var(--card-bg);
  border-radius: 16px;
  padding: 1rem;

  min-height: 500px;
  display: grid;
  
  text-align: center;

  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  transform: translateY(20px);
  opacity: 0;
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease,
    opacity 0.6s ease,
    background-color 0.4s ease;
}

.card.show {
  opacity: 1;
  transform: translateY(0);
}

.card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: -2rem;
}

.card h2 {
  margin-bottom: 1rem;
  font-size: 30px;
}

.card p {
  font-size: 0.95rem;
  opacity: 0.85;
  margin-bottom: 1rem;
}

.price {
  font-weight: bold;
  color: var(--accent);
  font-size: 2rem;
  align-items: center;

}

.offer-btn {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: var(--accent);
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s, opacity 0.2s;
}

.offer-btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
